configuration {
	modi:				"drun";
	font:				"Rubik 10";
	show-icons:                     true;
	icon-theme: 			"Reversal-dark";
	display-drun: 			"";
	drun-display-format:            "{name}";
	sidebar-mode: 			false;
}

@theme "theme.rasi"
